
body {
    background-color: wheat;
    font-family: Roboto;
    max-width: fit-content;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    margin: 0 auto; 
    align-items: center;
  }
  
.numbers {
    background-color: gray;
    height: 10 px;
    width: 10px;
    border: 1px solid;
}

.ingredientes {
    display: flex;          
    justify-content: center; 
    gap: 20px;           
  
.columna {
      display: flex;
      flex-direction: column; 
      gap: 10px;            
    }
  
label {     
      display: flex;         
      align-items: center; 
      gap: 8px;   
}           
  
input[type="checkbox"] {
      width: 16px;
      height: 16px;
      cursor: pointer;       
    }
}
  