@mixin max-width($max-width: 800px) {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }


body {
background-color: wheat;
font-family: Roboto;
max-width: fit-content;
}

.banner {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    margin: 0 auto; 
  }
  
.numbers {
    background-color: gray;
    height: 10 px;
    width: 10px;
    border: 1px solid;
}